<%- include("layout/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        var $j = jQuery.noConflict();
    </script>
   
</head>
<body>
    <h2 class="mb-4"> Hii, <%= user.name %></h2>

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <% if(users.length>0) { %>
                    <% for(let i=0; i<users.length; i++) { %>
                        <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]['_id'] %>">
                            <img src="<%= users[i]['image']%>" alt="" width="100px" height="100px">
                            <%= users[i]['name'] %>
                            <% if(users[i]['is_online']==1) { %>
                                <sup class='online-status' id='<%= users[i]['_id'] %>-status'>Online</sup>
                            <% } else { %>
                                <sup class='offline-status' id='<%= users[i]['_id'] %>-status'>Offline</sup>
                            <% } %>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="col-md-9">
            <h3 class="start-head">Click to Start Chat</h3>
            <div class="chat-section">
                <div id="chat-container"></div>
                <form action="" id="chat-form">
                    <input type="text" name="message" placeholder="Enter Message" class="border" id="message" required>
                    <input type="submit" value="Send Message" class="btn btn-primary">
                </form>
            </div> 
        </div>
    </div>



  <div class="modal fade" id="deleteChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Chat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form id="delete-chat-form">
        <div class="modal-body">
            <input type="hidden" name="id"  id="delete-message-id">
          <p>Are you sure want to delete below Message ?</p>
          <p><b id="delete-message"></b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  

<div class="modal fade" id="editChatModal" tabindex="-1" role="dialog" aria-labelledby="editChatModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editChatModalTitle">Edit Chat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <form id="update-chat-form">
          <div class="modal-body">
            <input type="hidden" name="id" id="edit-message-id">
            <input type="text" name="message" id="update-message" required placeholder="Enter Message" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

   


</body>
</html>

<%- include("layout/footer") %>